@import "import/reset";

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-error: red;
  --color-error-darker: darkred;
  --color-warning: yellow;
  --color-warning-darker: orange;
  --color-info: lightblue;
  --color-info-darker: navy;
  --color-success: lightgreen;
  --color-success-darker: teal;

  @each $color-name, $color-value in $color-palettes {
    @each $variant-name, $variant-value in $color-variants {
      @if $variant-name == base {
        --color-#{$color-name}: #{$color-value};
      } @else {
        --color-#{$color-name}-#{$variant-name}: #{applyColorVariant(
            $color-value,
            $variant-value
          )};
      }
    }
  }
}
